[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
django-heroku = "*"
django-rest-swagger = "*"
gunicorn = "*"

[dev-packages]
"flake8" = "*"
"flake8-commas" = "*"
pep8-naming = "*"
pylint = "*"
yapf = "*"

[requires]
python_version = "3.6"
